*{
    margin: 0;
    padding: 0;
}
header{
    height: 18vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color:linear-gradient(rgba(0,0,0,1) 1%, rgba(255,102,0,1) 100%);
}

header>img{
    width: 400px;
    height: 130px;
    border-style: solid;
}

header:hover{
    opacity: 1;
}

.navegacion{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color:linear-gradient(rgba(0,0,0,1) 3%, rgba(255,102,0,1) 100%);
}

a{
    text-decoration: none;
}

.efectosnav{
    border: 1px black solid;
    padding: 5px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 22%, rgba(255,179,0,1) 100%);
    border-radius: 30px;
    box-shadow: 2px 2px rgb(56, 26, 1);

    font-size: 20px;
}

.efectosnav:hover {
    background: linear-gradient(90deg, rgba(0,86,255,1) 22%, rgba(0,255,25,1) 100%);
    color: blue;
}

body{
    background: linear-gradient(rgba(0,0,0,1) 1%, rgba(255,102,0,1) 100%);
    width: 95vw;
    height: 100%;
}

h1{
    color:rgb(216, 166, 3)
}

img{
    border-style: solid;
    border-color: aliceblue;
    transition: all 0.5s ease;
}

img:hover{
    transform: scale(0.9);
}


.principal{
    display: flex;
}

.izquierdo{
    display: flex;
    flex-direction: column;
    width: 19%;
    padding: 10px;
}

.hijoizquierdoletra{
    display: flex;
    border: 10px black;
    margin: 15px;
    width: 100%;
    height: 30px;
    color:rgb(216, 166, 3);
    font-size: 250%;
}

.hijoizquierdo{
    display: flex;
    border: 10px black;
    margin: 15px;
    width: 120%;
    height: 100%;
}

.central{
    display: flex;
    flex-direction: column;
    width: 81%;
    padding: 90px;
    margin-left: 12%;
}



.hijocentralletra{
    display: flex;
    border: 10px black;
    margin: 10px;
    width: 100%;
    height: 30px;
    color:rgb(216, 166, 3);
    font-size: 405%;
    
}

.hijocentralletra2{
    display: flex;
    border: 10px black;
    margin: 30px;
    width: 100%;
    height: 30px;
    color:rgb(216, 166, 3);
    font-size: 300%;
    margin-top: 12%;
    margin-left: 10%;
    
}

.hijocentral{
    display: flex;
    border: 10px black;
    margin-left: 15%;
    margin-top: 2%;
    width: 100%;
    height: 12%;
}



@media screen and (max-width: 480px) {

    .navegacion{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        background-color: rgb(238, 209, 26);
    }
    .efectosnav{
        margin: 5px;
    }

  }

  @media screen and (min-width: 1000px) {
    header>p{
        font-size: 25px;
    }
  }
